@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap"rel="stylesheet");
.container {
  background: #f5f4ef;
  width: 1440px;
  height: 1024px;
  padding: 0px;
  margin: 0px;
}
h1 {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.016em;
  color: #000000;
}

p {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.emailInput {
  font-size: 12px;
  text-align: left;
  text-indent: 15px;
  border-radius: 10px;
  border-style: none;
}

.button {
  border-radius: 70px;
}

.avocado {
  size: 20px;
}
